mule/totp/src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
    <apikit:config name="api-config" raml="api.raml" consoleEnabled="true" consolePath="console" doc:name="Router" />
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="bram" password="password" database="totp" doc:name="MySQL Configuration" />
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" doc:name="HTTP" />
        <apikit:router config-ref="api-config" doc:name="APIkit Router" />
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>

	<flow name="post:/createSecret:api-config">
		<component class="nl.nijmegen.mule.totp.CreateToken" doc:name="Java" />
        <set-variable variableName="secret" value="#[payload]" doc:name="set secret" />
        <logger message="secret: #[flowVars.secret]" level="INFO" doc:name="Logger" />
        <logger message="username: #[message.inboundProperties.username]" level="INFO" doc:name="Logger" />
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[INSERT INTO totp.tokens (`username`, `secret`) VALUES (#[message.inboundProperties.username], #[flowVars.secret]);]]></db:parameterized-query>
        </db:insert>
        <set-payload value="{&quot;totp_secret&quot; : &quot;#[flowVars.secret]&quot;}" mimeType="application/json" doc:name="Set Payload" />
    </flow>
    
    <flow name="post:/validateToken:api-config">
        <logger message="username: #[message.inboundProperties.username]" level="INFO" doc:name="Log username" />
        <logger message="token: #[message.inboundProperties.token]" level="INFO" doc:name="Log token" />
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from totp.tokens where username = #[message.inboundProperties.username]]]></db:parameterized-query>
        </db:select>
        <set-variable variableName="secret" value="#[payload[0].get(&quot;secret&quot;)]" doc:name="Variable" />
        <component class="nl.nijmegen.mule.totp.ValidateToken" doc:name="ValidateToken" />
        <choice doc:name="Choice">
            <when expression="#[payload == &quot;valid&quot;]">
                <set-payload value="{&quot;result&quot; : &quot;validated&quot;}" doc:name="Set Validated Payload" />
            </when>
            <otherwise>
                <set-payload value="{&quot;result&quot; : &quot;Invalid&quot;}" doc:name="Set Payload" />
            </otherwise>
        </choice>
    </flow>
    
    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
